.home{
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    
    h2{
        text-align: center;
    }
 
   
    
@media(max-width:600px){
  
}
}
