
/* basic stylings ------------------------------------------ */

.contact-main{
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: 50px;
    top: 10vh;
    position: relative;
    overflow-y: hidden;
}
.footer{
    margin-top: 100px;
}
.project{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    background-color: white;
    padding-bottom: 80px;
   
    img{
        width: 80%;
        height: 350px;
        margin-right: 20px;
        &:hover{
            opacity: 0.9;
        }
    }
}

.contact { 
  font-family:'Roboto';
  width:80%;
  top: 15vh;
  position: relative;
  margin:auto ; 
  display:block; 
  background:rgba(255, 255, 255, 0.879);
  padding:10px 50px;
  border-radius: 20px;
  height: 70%;
}
.contacth3 { 
  text-align:right; 
  margin-bottom:50px; 
}

/* form starting stylings ------------------------------- */
.group            { 
  position:relative; 
  margin-bottom:45px; 
  margin: 27px;
}
input               {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  background: none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

form{
  direction: rtl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* LABEL ======================================= */
label                {
  color:rgb(15, 15, 15); 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:10px;
  text-align: right;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
textarea{
    background: none;
  color:#333; 
  width: 400px;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
}
/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#333;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:90%; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}


@media(max-width:600px){
    
.contact { 
    font-family:'Roboto';
    width: 100%;
    top: 15vh;
    padding-bottom: 30px;
    padding-top: 5rem;
  
    input{
        width: 100%;
    }
  }
  textarea{
      width: 85%;
      margin-top: .5rem;
  }
.project{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
    img{
        width:100%;
        height: 450px;
        margin-bottom: 30px;
       
    }
}
.group{
  width: 100%;
  margin:13px auto;
}

}